<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品主页</title>
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.min.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">

    <!--[if lt IE 9]>
    <script src="../bower_components/flat-ui/dist/js/vendor/html5shiv.js"></script>
    <script src="../bower_components/flat-ui/dist/js/vendor/respond.min.js"></script>
    <![endif]-->

    <script src="../bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
    <script src="../bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../public/javascripts/common.js"></script>

</head>
<body>
    <header class="palette-peter-river">HEADER</header>
    <div class="main-container">
        <form action="/positions/search" method="post" id="searchForm">
        <nav class="navbar navbar-inverse navbar-embossed main-nav" role="navigation">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="/positions">职位检索</a></li>
                    <li><a href="views/favorite.html">我的收藏<span class="navbar-new">12</span></a></li>
                    <li><a href="views/aboutme.html">关于作者</a></li>
                    <li><a href="views/introduce.html">网站介绍</a></li>
                </ul>
            </div>
        </nav>
        <div>数据更新时间：<%= new Date() %><span class="text-muted">数据来自于拉勾网</span></div>
        <section class="search-condition">
                <div class="row">
                    <div class="col-md-4">
                        <div class="search-item">
                            <span>工作经验：</span>
                            <span class="tag work-year <%= condition.workYear.indexOf('1-3年') != -1 ? 'active' : '' %>">1-3年</span>
                            <span class="tag work-year <%= condition.workYear.indexOf('3-5年') != -1 ? 'active' : '' %>">3-5年</span>
                            <input type="hidden" value="<%= condition.workYear %>" id="workYear" name="workYear">
                        </div>
                        <div class="search-item">
                            <span>简历处理及时率：</span>
                            <input name="timelyRate" type="text" class="form-control input-sm" style="width: 50px;"
                                 value="<%= condition ? condition.timelyRate : '50' %>">%以上
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="search-item">
                            <span>薪资范围：</span>
                            <input name="salary" type="text" class="form-control input-sm" style="width: 115px;"
                                 value="<%= condition ? condition.salary : '12' %>" >k以上
                        </div>
                        <div class="search-item">
                            <span>简历处理平均时长：</span>
                            <input name="avgTime" type="text" class="form-control input-sm" style="width: 50px;"
                                 value="<%= condition ? condition.avgTime : '7' %>" >天以内
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="search-item">
                            <span>公司地址：</span>
                            <input type="text" name="address" class="form-control input-sm" style="width: 130px;" placeholder="地址关键字"
                                   value="<%= condition ? condition.address : '' %>">
                        </div>
                        <div class="search-item" style="padding-left: 75px;">
                            <button type="submit" class="btn btn-primary btn-wide" id="searchBtn">
                                检 索
                            </button>
                        </div>
                    </div>
                </div>
        </section>
        <section class="position-sort-bar">
            <span id="sortForm">
                <span class="sort-tag <%= (condition ? condition.sortField : '') == '_id' ? 'active' : '' %>" data-val="_id">默认</span>
                <span class="sort-tag <%= (condition ? condition.sortField : '') == 'create_time' ? 'active' : '' %>" data-val="create_time">最新</span>
            </span>
            <span id="sortForm2">
                <label data-val="salary" class="sort sort-tag <%= (condition ? condition.sortField : '') == 'salary' ? 'active' : '' %>">
                    <span>薪资</span>
                    <span class="order-icon <%= ((condition ? condition.sortField : '') == 'salary') && ((condition ? condition.sortOrder : 0) > 0) ? 'fui-triangle-up' : 'fui-triangle-down' %>"></span>
                </label>
                <label data-val="timely_rate" class="sort sort-tag <%= (condition ? condition.sortField : '') == 'timely_rate' ? 'active' : '' %>">
                    <span>简历处理及时率</span>
                    <span class="order-icon <%= ((condition ? condition.sortField : '') == 'timely_rate') && ((condition ? condition.sortOrder : 0) > 0) ? 'fui-triangle-up' : 'fui-triangle-down' %>"></span>
                </label>
                <input type="hidden" name="sortField" value="<%= condition ? condition.sortField : '_id' %>">
                <input type="hidden" name="sortOrder" value="<%= condition ? condition.sortOrder : -1 %>">
            </span>
        </section>
        <div class="container position-list">
            <% for (var i = 0; i < positionList.length; i++) { %>
            <div class="position-item">
                <div class="row">
                    <div class="col-md-7 info-block">
                        <ul class="company-info list-unstyled">
                            <li class="clearfix">
                                <div class="logo-wrapper pull-left">
                                    <img class="com-logo" src="http://www.lagou.com/<%= positionList[i].company.logo_link %>" alt="">
                                </div>
                                <div class="pull-left" style="max-width: 450px;">
                                    <p class="company-tag">
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.company_name %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.industry_field %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.finance_stage %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.company_size %></span>
                                        </label>
                                    </p>
                                    <p>
                                        <span class="fui-tag"></span>
                                        <span><%= positionList[i].company.company_short_name %></span>
                                    </p>
                                </div>
                            </li>
                            <li><span class="quote-left"></span><%= positionList[i].position_advantage %></li>
                            <li><%= positionList[i].company_label_list %><span class="quote-right"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-left info-block">
                        <ul class="list-unstyled">
                            <li><%= positionList[i].name %></li>
                            <li><%= positionList[i].salary %></li>
                            <li><%= positionList[i].work_year %> <%= positionList[i].education %></li>
                            <li><%= positionList[i].job_nature %></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-right info-block">
                        <ul class="list-unstyled">
                            <li><%= positionList[i].format_create_time %></li>
                            <li><%= positionList[i].publisher.name %><%= positionList[i].publisher.title %></li>
                            <li><%= positionList[i].publisher.timely_rate %></li>
                            <li><%= positionList[i].publisher.avg_time %></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <span class="fui-home"></span> 公司主页：
                            <a target="_blank" href="<%= positionList[i].company.homepage %>"><%= positionList[i].company.homepage %></a>
                        </div>
                        <div>
                            <span class="fui-location"></span> 地址：
                            <span><%= positionList[i].company.address %></span>
                        </div>
                    </div>
                    <div class="col-md-2 text-right oper-btn-block hidden">
                        <span class="favor oper-btn">加入收藏<span class="fui-heart"></span></span>
                        <span class="ignore oper-btn">忽略<i class="ignore-icon"></i></span>
                        <!--<span class="fui-triangle-down"></span>-->
                    </div>
                </div>
                <div class="position-desc hidden">
                    <div class="hidden"><%= positionList[i].position_desc %></div>
                    <div class="show"></div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="pagination-wrapper">
            <div class="pagination pagination-info">
                <a href="javascript:void(0);" class="btn btn-info previous <%= (condition.curPage<=1)?'disabled':''%>">
                    <i class="fui-arrow-left"></i>
                </a>
                <ul>
                    <% for(var i = 1; i <= condition.pageNum; i++) { %>
                    <li class="<%= (i==condition.curPage) ? 'active': '' %>" data-page="<%= i %>"><a href="javascript:void(0);"><%= i %></a></li>
                    <% } %>
                </ul>
                <a href="javascript:void(0);" class="btn btn-info next <%= (condition.curPage>=condition.pageNum)?'disabled':''%>">
                    <i class="fui-arrow-right"></i>
                </a>
                <span>
                    <span>总页数/总条数:</span>
                    <span><%= condition.pageNum %>/<%= condition.count %></span>
                </span>
                <input type="hidden" name="pageNum" value="<%= condition.pageNum %>">
                <input type="hidden" name="curPage" value="<%= condition.curPage %>">
            </div>
        </div>
        </form>
    </div>
    <footer>FOOTER</footer>

    <script>
        $(function(){
            $(':checkbox').radiocheck();
            $('[data-toggle="switch"]').bootstrapSwitch();

            fillDescContent();

            $(".main-nav").affix({
                offset: {
                    top: function(){
                        return parseInt($(".position-sort-bar").offset().top);
                    }
                }
            });

            $(".work-year").click(function(){
                $(this).toggleClass("active");
                var tmp = '';
                $(".work-year.active").each(function(){
                    tmp += $(this).html() + ',';
                });
                if (tmp != '') {
                    tmp.slice(0, -1)
                }
                $("#workYear").val(tmp);
            });

            // 排序
            $("#sortForm .sort-tag").click(function(){
                $("input[name='sortField']").val($(this).attr("data-val"));
                $("input[name='curPage']").val(1);
                $("#searchForm").submit();
            });

            $("#sortForm2 .sort-tag").click(function(){
                var sortField, sortOrder;
                if ($(this).hasClass("active")) {
                    sortField = $(this).attr("data-val");
                    if ($(this).find(".order-icon").hasClass("fui-triangle-up")) {
                        sortOrder = -1;
                    } else {
                        sortOrder = 1;
                    }
                } else {
                    sortField = $(this).attr("data-val");
                    sortOrder = -1;
                }

                $("input[name='sortField']").val(sortField);
                $("input[name='sortOrder']").val(sortOrder);
                $("input[name='curPage']").val(1);

                $("#searchForm").submit();
            });

            //  分页
            $(".pagination .next").click(function(){
                var curPage = parseInt($("input[name='curPage']").val());
                var pageNum = parseInt($("input[name='pageNum']").val());
                $("input[name='curPage']").val((curPage+1)>=pageNum?pageNum:curPage+1);
                $("#searchForm").submit();
            });

            $(".pagination .previous").click(function(){
                var curPage = parseInt($("input[name='curPage']").val());
                var pageNum = parseInt($("input[name='pageNum']").val());
                $("input[name='curPage']").val((curPage-1)<=1?1:curPage-1);
                $("#searchForm").submit();
            });

            $(".pagination > ul li").click(function(){
                $("input[name='curPage']").val(parseInt($(this).attr("data-page")));
                $("#searchForm").submit();
            });

        });

        function fillDescContent() {
            $(".position-desc").each(function(){
                var content = $(this).find(".hidden").html().replace(/&lt;/g, '<').replace(/&gt;/g, '>');
                $(this).find(".show").append(content);
            });
        }
    </script>
</body>
</html>