<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品主页</title>
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.min.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">

    <!--[if lt IE 9]>
    <script src="../bower_components/flat-ui/dist/js/vendor/html5shiv.js"></script>
    <script src="../bower_components/flat-ui/dist/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header></header>
    <div class="main-container">
        <div class="container-fluid">
            <div class="row demo-row">
                <div class="col-xs-2 col-md-2">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-warning">Warning Button</a>
                </div>
                <div class="col-xs-2 col-md-4">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-default">Default Button</a>
                </div>
                <div class="col-xs-offset-2 col-xs-2 col-md-4">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-danger">Danger Button</a>
                </div>
            </div> <!-- /row -->
        </div>

        <div class="row demo-row">
            <div class="col-xs-3">
                <a href="#fakelink" class="btn btn-block btn-lg btn-success">Success Button</a>
            </div>
            <div class="col-xs-3">
                <a href="#fakelink" class="btn btn-block btn-lg btn-inverse">Inverse Button</a>
            </div>
            <div class="col-xs-3">
                <a href="#fakelink" class="btn btn-block btn-lg btn-info">Info Button</a>
            </div>
            <div class="col-xs-3">
                <a href="#fakelink" class="btn btn-block btn-lg btn-default disabled">Disabled Button</a>
            </div>
        </div> <!-- /row -->

        <h3 class="demo-panel-title">Input</h3>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="text" value="" placeholder="Inactive" class="form-control" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group has-error">
                    <input type="text" value="Error" class="form-control" />
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group has-success">
                    <input type="text" value="Success" class="form-control" />
                    <span class="input-icon fui-check-inverted"></span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="text" value="Disabled" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div> <!-- /row -->

        <div class="col-xs-3">
            <h3 class="demo-panel-title">Checkboxes</h3>
            <label class="checkbox" for="checkbox1">
                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                Unchecked
            </label>
            <label class="checkbox" for="checkbox2">
                <input type="checkbox" checked="checked" value="" id="checkbox2" data-toggle="checkbox" checked="">
                Checked
            </label>
            <label class="checkbox" for="checkbox3">
                <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" disabled="">
                Disabled unchecked
            </label>
            <label class="checkbox" for="checkbox4">
                <input type="checkbox" checked="checked" value="" id="checkbox4" data-toggle="checkbox" disabled="" checked="">
                Disabled checked
            </label>
        </div> <!-- /checkboxes col-xs-3 -->

        <div class="col-xs-3">
            <h3 class="demo-panel-title">Switches</h3>

            <table width="100%">
                <tr>
                    <td width="50%" class="pbm">
                        <input type="checkbox" checked data-toggle="switch" id="custom-switch-01" />
                    </td>
                    <td class="pbm">
                        <input type="checkbox" data-toggle="switch" id="custom-switch-02" />
                    </td>
                </tr>
                <tr>
                    <td class="pbm">
                        <div class="bootstrap-switch-square">
                            <input type="checkbox" checked data-toggle="switch" id="custom-switch-03" data-on-text="<span class='fui-check'></span>" data-off-text="<span class='fui-cross'></span>" />
                        </div>
                    </td>
                    <td class="pbm">
                        <div class="bootstrap-switch-square">
                            <input type="checkbox" data-toggle="switch" id="custom-switch-04" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" checked disabled data-toggle="switch" id="custom-switch-5" />
                    </td>
                    <td>
                        <input type="checkbox" checked disabled data-toggle="switch" id="custom-switch-6" />
                    </td>
                </tr>
            </table>
        </div> <!-- /.col-xs-3 -->
    </div>
    <footer></footer>

    <script src="../bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
    <script src="../bower_components/flat-ui/dist/js/flat-ui.min.js"></script>

    <script>
        $(function(){
            $(':checkbox').radiocheck();
            $('[data-toggle="switch"]').bootstrapSwitch();
        });
    </script>
</body>
</html>