<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品主页</title>
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.min.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">

    <!--[if lt IE 9]>
    <script src="../bower_components/flat-ui/dist/js/vendor/html5shiv.js"></script>
    <script src="../bower_components/flat-ui/dist/js/vendor/respond.min.js"></script>
    <![endif]-->

    <script src="../bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
    <script src="../bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
    <script src="../public/javascripts/common.js"></script>

</head>
<body>
    <header class="palette-peter-river">HEADER</header>
    <div class="main-container">
        <nav class="navbar navbar-inverse navbar-embossed main-nav" role="navigation">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">职位检索</a></li>
                    <li><a href="#">我的收藏<span class="navbar-new">12</span></a></li>
                    <li><a href="#">关于作者</a></li>
                    <li><a href="#">网站介绍</a></li>
                </ul>
            </div>
        </nav>
        <div>数据更新时间：<%= new Date() %><span class="text-muted">数据来自于拉勾网</span></div>
        <section class="search-condition">
            <div class="row">
                <div class="col-md-4">
                    <div class="search-item">
                        <span>工作经验：</span>
                        <span class="tag active">1-3年</span>
                        <span class="tag active">3-5年</span>
                    </div>
                    <div class="search-item">
                        <span>简历处理及时率：</span>
                        <input type="text" class="form-control input-sm" style="width: 50px;">%以上
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-item">
                        <span>薪资范围：</span>
                        <input type="text" class="form-control input-sm" style="width: 115px;">k以上
                    </div>
                    <div class="search-item">
                        <span>简历处理平均时长：</span>
                        <input type="text" class="form-control input-sm" style="width: 50px;">天以内
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-item">
                        <span>公司地址：</span>
                        <input type="text" class="form-control input-sm" style="width: 130px;" placeholder="地址关键字">
                    </div>
                    <div class="search-item" style="padding-left: 75px;">
                        <button class="btn btn-primary btn-wide" id="search">
                            检 索
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="position-sort-bar">
            <span class="sort-tag active">默认</span>
            <span class="sort-tag active">最新</span>
            <label>
                <span>薪资</span>
                <i class="sort-icon asc"></i>
            </label>
            <label>
                <span>简历处理及时率</span>
                <i class="sort-icon asc"></i>
            </label>
        </section>
        <div class="container position-list">
            <% for (var i = 0; i < positionList.length; i++) { %>
            <div class="position-item">
                <div class="row">
                    <div class="col-md-7 info-block">
                        <ul class="company-info list-unstyled">
                            <li class="clearfix">
                                <div class="logo-wrapper pull-left">
                                    <img class="com-logo" src="http://www.lagou.com/<%= positionList[i].company.logo_link %>" alt="">
                                </div>
                                <div class="pull-left" style="max-width: 450px;">
                                    <p class="company-tag">
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.company_name %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.industry_field %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.finance_stage %></span>
                                        </label>
                                        <label>
                                            <span class="fui-tag"></span>
                                            <span><%= positionList[i].company.company_size %></span>
                                        </label>
                                    </p>
                                    <p>
                                        <span class="fui-tag"></span>
                                        <span><%= positionList[i].company.company_short_name %></span>
                                    </p>
                                </div>
                            </li>
                            <li><span class="quote-left"></span><%= positionList[i].position_advantage %></li>
                            <li><%= positionList[i].company_label_list %><span class="quote-right"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 text-left info-block">
                        <ul class="list-unstyled">
                            <li><%= positionList[i].name %></li>
                            <li><%= positionList[i].salary %></li>
                            <li><%= positionList[i].work_year %> <%= positionList[i].education %></li>
                            <li><%= positionList[i].job_nature %></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-right info-block">
                        <ul class="list-unstyled">
                            <li><%= positionList[i].format_create_time %></li>
                            <li><%= positionList[i].publisher.name %><%= positionList[i].publisher.title %></li>
                            <li><%= positionList[i].publisher.timely_rate %></li>
                            <li><%= positionList[i].publisher.avg_time %></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <span class="fui-home"></span> 公司主页：
                            <a target="_blank" href="<%= positionList[i].company.homepage %>"><%= positionList[i].company.homepage %></a>
                        </div>
                        <div>
                            <span class="fui-location"></span> 地址：
                            <span><%= positionList[i].company.address %></span>
                        </div>
                    </div>
                    <div class="col-md-2 text-right oper-btn-block hidden">
                        <span class="favor oper-btn">加入收藏<span class="fui-heart"></span></span>
                        <span class="ignore oper-btn">忽略<i class="ignore-icon"></i></span>
                        <!--<span class="fui-triangle-down"></span>-->
                    </div>
                </div>
                <div class="position-desc hidden">
                    <div class="hidden"><%= positionList[i].position_desc %></div>
                    <div class="show"></div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="pagination-wrapper">
            <div class="pagination pagination-info">
                <a href="#fakelink" class="btn btn-info previous">
                    <i class="fui-arrow-left"></i>
                </a>
                <ul>
                    <li><a href="#fakelink">1</a></li>
                    <li><a href="#fakelink">2</a></li>
                    <li><a href="#fakelink">3</a></li>
                    <li><a href="#fakelink">4</a></li>
                    <li><a href="#fakelink">5</a></li>
                    <li><a href="#fakelink">6</a></li>
                    <li><a href="#fakelink">7</a></li>
                    <li><a href="#fakelink">8</a></li>
                    <li><a href="#fakelink">9</a></li>
                    <li><a href="#fakelink">10</a></li>
                </ul>
                <a href="#fakelink" class="btn btn-info next">
                    <i class="fui-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <footer>FOOTER</footer>

    <script>
        $(function(){
            $(':checkbox').radiocheck();
            $('[data-toggle="switch"]').bootstrapSwitch();

            fillDescContent();
        });

        function fillDescContent() {
            $(".position-desc").each(function(){
                var content = $(this).find(".hidden").html().replace(/&lt;/g, '<').replace(/&gt;/g, '>');
                $(this).find(".show").append(content);
            });
        }
    </script>
</body>
</html>